.message-row-even {
  background: linear-gradient(#ccc, #bbb);
  width: inherit;
}
.message-row-odd {
  background: linear-gradient(#eee, #ddd);
}
.message-input {
  box-sizing: border-box; /* exclude padding and border from width */
}
.message-box {
  width: 500px;
}
